/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-gold: #c59d5f;

  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/* h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
} */
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  /* body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  } */
}
/*  global classes */

/* section */
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
  margin-top: 20px;
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

/*
=============== 
Menu
===============
*/

.menu {
  padding: 5rem 0;
}
.header {
  height: 60px;
  padding-top: 15px;
  background: var(--clr-gold);
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}



.footer {
  height: 20px;
  background: var(--clr-gold);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  z-index: -100;
  text-align: center;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}

.image-detail
{
  background-color: #222;
}

.btn-container {
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}
.filter-btn {
  background: transparent;
  border-color: transparent;
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0 0.5rem;
  letter-spacing: 1px;
  padding: 0.375rem 0.75rem;
  color: var(--clr-gold);
  cursor: pointer;
  transition: var(--transition);
  border-radius: var(--radius);
}
.filter-btn:hover {
  background: var(--clr-gold);
  color: var(--clr-white);
}
.section-center {
  width: 90vw;
  margin-left: 20px;
  align-items: center;
  max-width: 1170px;
  display: grid;
  gap: 1rem 2rem;
  /* height: 600px; */
  justify-items: center;
}
.menu-item {
  display: grid;
  gap: 1rem 2rem;
  max-width: 25rem;
}
.photo {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border: 0.25rem solid var(--clr-gold);
  border-radius: var(--radius);
  display: block;
}
.item-info  {
  display: flex;
  position: relative;
  margin: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px dotted var(--clr-grey-5);
}
.item-info-filesize

{
  margin: 10px;
}

@media screen and (min-width: 768px) {
  .menu-item {
    grid-template-columns: 225px 1fr 1fr;
    gap: 0 1.25rem;
    max-width: 40rem;
  }
  .photo {
    height: 175px;
  }
}
@media screen and (min-width: 1200px) {
  .section-center {
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .photo {
    height: 150px;
  }
}
.overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  max-width: 90vw;
  max-height: 90vh;
  overflow: auto;
}

.modal-photo {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  max-width: 100%;
  max-height: 80vh;
  object-fit: contain;
}

.modal-info {
  margin-bottom: 1rem;
}

.modal-info h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.modal-info p {
  margin: 0.5rem 0;
}

.modal-close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.pagination button {
  border: none;
  background: none;
  font-size: 16px;
  cursor: pointer;
  margin: 0 5px;
}

.pagination .active {
  color: #000;
  font-weight: bold;
}

.pagination .disabled {
  color: #999;
  cursor: not-allowed;
}

.pagination .ellipsis {
  margin: 0 10px;
}

.pagination .left-arrow,
.pagination .right-arrow {
  margin: 0 5px;
  color: #000;
  font-weight: bold;
}

.pagination .left-arrow.disabled,
.pagination .right-arrow.disabled {
  color: #999;
  cursor: not-allowed;
}
.section-filter
{
  display: flex;
}
.sort-options {
  display: flex;
  align-items: center;
  right: 20px;
  margin-left: 20px;
  margin-bottom: 65px;

}

.sort-label {
  margin-right: 10px;
}

.sort-select {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  background-color: #fff;
  transition: border-color 0.2s ease-in-out;
 
}

.sort-select:focus {
  border-color: #007bff;
}

.sort-select option {
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
}

/* cross-button */

.cross-button {
  position: absolute;
  margin-left: 220px;
  font-size: 20px;
  margin-top: -10px;
  border: none;
  outline: none;
  cursor: pointer;
}
.cross-button:hover
{
  background-color: lavender;
  cursor: pointer;
  border-radius: 5px;
}

.header-heading
{
  font-size: 25px;
  
}

